.allPodcast {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 6rem;
}

.allPodcast:hover {
  cursor: pointer;
}

.pod {
  width: 200px;
  height: 310px;
  margin: 15px;
  padding-bottom: 150px;
  transition: 0.5s ease;
  align-items: center;
}

.allPodcast div:hover {
  transform: scale(1.04) perspective(0.1px);
}

.allPodcast div img {
  margin-top: 30px;
  width: 100%;
  height: 100%;
}

h4 {
  display: inline;
  font-weight: 576;
  margin-top: 2rem;
  margin-bottom: 8px;
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgba(165, 165, 165, 0.283);
  width: 300px;
  height: 100%;
  color: #666666;
}

h3 {
  font-size: 15px;
  color: rgba(165, 165, 165, 0.283);
  width: 100%;
  margin-bottom: 3rem;
}
