.allPodcast {
  display: flex;  
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 6rem;
 
}

.allPodcast:hover{
 cursor: pointer;
 
}
/* .allMovies div  {
  width: 200px;
  height: 300px;   
  margin: 15px; 
  padding: 15px;
  background-color: rgba(167, 156, 156, 0.061);
} */

.pod{
  width: 200px;
  height: 310px;
  margin: 15px;
  padding-bottom: 150px;
  transition: 0.5s ease; 
  align-items: center;
}

.allPodcast div:hover {
  transform: scale(1.04) perspective(0.1px);
}

.allPodcast div img {
    margin-top: 30px;
    width: 100%;
    height: 100%;
}

h4 {
  color: rgba(199, 199, 199, 0.845);
  margin-bottom: 0.1rem;
}

h3 {
  font-size: 0.7rem;
  color:rgba(80, 80, 80, 0.851);
  margin-top: 0rem;
}